services:
  lotus:
    build:
      context: ./
      network: host
    environment:
      - "LOTUS__APIS__ICANHAZDADJOKE__HOST=${LOTUS__APIS__ICANHAZDADJOKE__HOST:-icanhazdadjoke.com}"
      - "LOTUS__APIS__ICANHAZDADJOKE__PATH=${LOTUS__APIS__ICANHAZDADJOKE__PATH:-}"
      - "LOTUS__APIS__ICANHAZDADJOKE__PORT=${LOTUS__APIS__ICANHAZDADJOKE__PORT:-}"
      - "LOTUS__APIS__ICANHAZDADJOKE__SCHEME=${LOTUS__APIS__ICANHAZDADJOKE__SCHEME:-https}"
      - "LOTUS__APIS__PELICAN__HOST=${LOTUS__APIS__PELICAN__HOST:-localhost}"
      - "LOTUS__APIS__PELICAN__PATH=${LOTUS__APIS__PELICAN__PATH:-}"
      - "LOTUS__APIS__PELICAN__PORT=${LOTUS__APIS__PELICAN__PORT:-10200}"
      - "LOTUS__APIS__PELICAN__SCHEME=${LOTUS__APIS__PELICAN__SCHEME:-http}"
      - "LOTUS__DEBUG=${LOTUS__DEBUG:-true}"
      - "LOTUS__SERVER__HOST=${LOTUS__SERVER__HOST:-0.0.0.0}"
      - "LOTUS__SERVER__PORT=${LOTUS__SERVER__PORT:-10230}"
    network_mode: host
